/archive
/YOLO_detection/images
/YOLO_detection/labels
/utils/__pycache__
/model
/fen_generator/__pycache__
/detector/__pycache__
/YOLO_detection/runs
YOLO_detection/yolo11n.pt
YOLO_detection/yolov5xu.pt
experiments/feature_extraction.ipynb
/experiments/sample_profile_pictures
/YOLO_detection/previous_models
*.pt
